 h1 {
                color:red;
                background-color:green;
                text-align:center;

            }
            #main_title {
                color:aqua;
                background-color:violet;
            }

            .docenter {
                color:crimson;
                text-align:center;
            }
title {
    color:darkgoldenrod;
    background-color:black;
    text-align:center;
    border-style:inset;
}
