 h1 {
                color:green;
                background-color:red;
                text-align:right;

            }
            #main_title {
                color:violet;
                background-color:aqua;
            }

            .docenter {
                color:crimson;
                text-align:center;
            }
